* {
  box-sizing: border-box; }

html, body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

/*
*
* * * STATIC MENU * * * 
*
*/
.static-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; }
  .static-menu .element {
    font-size: 28px;
    display: block;
    float: left;
    cursor: pointer;
    color: #444;
    opacity: 0.5;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: center;
    transition: 0.4s ease all 0s;
    -webkit-transition: 0.4s ease all 0s;
    -moz-transition: 0.4s ease all 0s;
    -ms-transition: 0.4s ease all 0s;
    -o-transition: 0.4s ease all 0s; }
    .static-menu .element:hover {
      opacity: 1; }
      .static-menu .element:hover .text {
        opacity: 1; }
    .static-menu .element.nick h3 {
      margin-top: 0;
      font-weight: bold;
      color: #000;
      font-size: 36px; }
    .static-menu .element .text {
      font-size: 12px;
      opacity: 0;
      display: block;
      transition: 0.4s ease all 0s;
      -webkit-transition: 0.4s ease all 0s;
      -moz-transition: 0.4s ease all 0s;
      -ms-transition: 0.4s ease all 0s;
      -o-transition: 0.4s ease all 0s; }

/*
*
* * * INTRO * * * 
*
*/
.rps_intro .knockout_logo {
  height: 96vh; }
  .rps_intro .knockout_logo .letters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 11; }
    .rps_intro .knockout_logo .letters .letter {
      flex: 1;
      max-width: 80px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0;
      margin-right: 2px; }
      .rps_intro .knockout_logo .letters .letter.k {
        background-image: url("../images/knockout_logo/letter_k.png"); }
      .rps_intro .knockout_logo .letters .letter.n {
        background-image: url("../images/knockout_logo/letter_n.png"); }
      .rps_intro .knockout_logo .letters .letter.o {
        background-image: url("../images/knockout_logo/letter_o.png"); }
      .rps_intro .knockout_logo .letters .letter.c {
        background-image: url("../images/knockout_logo/letter_c.png"); }
      .rps_intro .knockout_logo .letters .letter.u {
        background-image: url("../images/knockout_logo/letter_u.png"); }
      .rps_intro .knockout_logo .letters .letter.t {
        background-image: url("../images/knockout_logo/letter_t.png"); }
  .rps_intro .knockout_logo .word {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto; }
    .rps_intro .knockout_logo .word.gaming {
      width: 378px;
      height: 50px;
      background-image: url("../images/knockout_logo/word_gaming.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -189px;
      margin-top: 50px; }

/*
*
* * * SELECT GAME ITEM * * * 
*
*/
.rps_select_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .rps_select_item .player-nick {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(-100vh);
    background-color: #1e5677;
    z-index: 11; }
    .rps_select_item .player-nick input[type="text"] {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25vw;
      margin-top: -10vh;
      padding: 5px 10px;
      width: 50vw;
      font-size: 36px;
      font-weight: bold;
      border: 3px solid #d2eeff; }
      .rps_select_item .player-nick input[type="text"].inputError {
        border: 3px solid #ff0033;
        color: #ff0033; }
    .rps_select_item .player-nick button {
      margin-top: 30px; }
  .rps_select_item .items-to-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    width: 100%;
    height: 100%;
    background-color: #d8d8d8; }
    .rps_select_item .items-to-select h1 {
      width: 100%;
      text-align: center; }
    .rps_select_item .items-to-select .items {
      display: flex;
      width: 90vw; }
      .rps_select_item .items-to-select .items .item {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border: 1px solid #aaa;
        margin-left: 4vw;
        position: relative;
        transition: 0.4s ease all 0s;
        -webkit-transition: 0.4s ease all 0s;
        -moz-transition: 0.4s ease all 0s;
        -ms-transition: 0.4s ease all 0s;
        -o-transition: 0.4s ease all 0s; }
        .rps_select_item .items-to-select .items .item .item-name {
          display: block;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300;
          padding: 30px 30px;
          position: relative; }
        .rps_select_item .items-to-select .items .item .item-icon {
          display: block;
          width: 180px;
          height: 180px;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center center;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_item .items-to-select .items .item .item-icon.rock {
            background-image: url("../images/rock_icon.png"); }
          .rps_select_item .items-to-select .items .item .item-icon.paper {
            background-image: url("../images/paper_icon.png"); }
          .rps_select_item .items-to-select .items .item .item-icon.scissors {
            background-image: url("../images/scissors_icon.png"); }
        .rps_select_item .items-to-select .items .item .item-description {
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          padding: 14px 0;
          color: #fff;
          transform: translateY(-49px);
          opacity: 0;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_item .items-to-select .items .item .item-description:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 0%;
            background: #1e5677;
            z-index: -1;
            transition: 0.4s ease all 0s;
            -webkit-transition: 0.4s ease all 0s;
            -moz-transition: 0.4s ease all 0s;
            -ms-transition: 0.4s ease all 0s;
            -o-transition: 0.4s ease all 0s; }
          .rps_select_item .items-to-select .items .item .item-description .loses {
            width: 50%;
            float: right;
            text-align: center; }
            .rps_select_item .items-to-select .items .item .item-description .loses i {
              color: #ff0033; }
          .rps_select_item .items-to-select .items .item .item-description .wins {
            width: 50%;
            float: left;
            text-align: center; }
            .rps_select_item .items-to-select .items .item .item-description .wins i {
              color: #03bb03; }
        .rps_select_item .items-to-select .items .item:hover {
          border-color: #1e5677; }
          .rps_select_item .items-to-select .items .item:hover .item-name {
            color: #1e5677; }
          .rps_select_item .items-to-select .items .item:hover .item-icon {
            background-size: 85%;
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
          .rps_select_item .items-to-select .items .item:hover .item-description {
            opacity: 1; }
            .rps_select_item .items-to-select .items .item:hover .item-description:before {
              width: 100%; }
        .rps_select_item .items-to-select .items .item.selected {
          border-color: #1e5677; }
          .rps_select_item .items-to-select .items .item.selected .item-name {
            color: #1e5677; }

/*
*
* * * SELECT ENEMY * * * 
*
*/
.rps_select_enemy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .rps_select_enemy .enemies-to-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    width: 100%;
    height: 100%;
    background-color: #d8d8d8; }
    .rps_select_enemy .enemies-to-select h1 {
      width: 100%;
      text-align: center; }
    .rps_select_enemy .enemies-to-select .enemies {
      display: flex;
      width: 90vw; }
      .rps_select_enemy .enemies-to-select .enemies .enemy {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border: 1px solid #aaa;
        padding: 30px 30px;
        margin-left: 4vw;
        transition: 0.4s ease all 0s;
        -webkit-transition: 0.4s ease all 0s;
        -moz-transition: 0.4s ease all 0s;
        -ms-transition: 0.4s ease all 0s;
        -o-transition: 0.4s ease all 0s; }
        .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-name {
          display: block;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300; }
        .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-icon {
          display: block;
          width: 180px;
          height: 180px;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center center;
          size: 80%;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-icon.computer {
            background-image: url("../images/computer_icon.png"); }
          .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-icon.player {
            background-image: url("../images/player_icon.png"); }
        .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-description {
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          padding: 14px;
          color: #fff;
          transform: translateY(-49px);
          opacity: 0;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_enemy .enemies-to-select .enemies .enemy .enemy-description:before {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 0%;
            background: #1e5677;
            z-index: -1;
            height: 50px;
            transition: 0.4s ease all 0s;
            -webkit-transition: 0.4s ease all 0s;
            -moz-transition: 0.4s ease all 0s;
            -ms-transition: 0.4s ease all 0s;
            -o-transition: 0.4s ease all 0s; }
        .rps_select_enemy .enemies-to-select .enemies .enemy:hover {
          border-color: #1e5677; }
          .rps_select_enemy .enemies-to-select .enemies .enemy:hover .enemy-name {
            color: #1e5677; }
          .rps_select_enemy .enemies-to-select .enemies .enemy:hover .enemy-icon {
            background-size: 85%;
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
          .rps_select_enemy .enemies-to-select .enemies .enemy:hover .enemy-description {
            opacity: 1; }
            .rps_select_enemy .enemies-to-select .enemies .enemy:hover .enemy-description:before {
              width: 100%; }
        .rps_select_enemy .enemies-to-select .enemies .enemy.selected {
          border-color: #1e5677; }
          .rps_select_enemy .enemies-to-select .enemies .enemy.selected .enemy-name {
            color: #1e5677; }

/*
*
* * * SELECT PLAYER * * * 
*
*/
.rps_select_player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh); }
  .rps_select_player .players-to-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8; }
    .rps_select_player .players-to-select h1 {
      width: 100%;
      text-align: center; }
    .rps_select_player .players-to-select .players {
      display: flex;
      width: 90vw; }
      .rps_select_player .players-to-select .players .player {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border: 1px solid #aaa;
        padding: 30px 30px;
        margin-left: 4vw;
        transition: 0.4s ease all 0s;
        -webkit-transition: 0.4s ease all 0s;
        -moz-transition: 0.4s ease all 0s;
        -ms-transition: 0.4s ease all 0s;
        -o-transition: 0.4s ease all 0s; }
        .rps_select_player .players-to-select .players .player .player-name {
          display: block;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300; }
        .rps_select_player .players-to-select .players .player .player-icon {
          display: block;
          width: 180px;
          height: 180px;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center center;
          size: 80%;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_player .players-to-select .players .player .player-icon.local {
            background-image: url("../images/players_icon.png"); }
          .rps_select_player .players-to-select .players .player .player-icon.remote {
            background-image: url("../images/computer_remote_icon.png"); }
        .rps_select_player .players-to-select .players .player .player-description {
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          padding: 14px;
          color: #fff;
          transform: translateY(-49px);
          opacity: 0;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_select_player .players-to-select .players .player .player-description:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 0%;
            background: #1e5677;
            z-index: -1;
            transition: 0.4s ease all 0s;
            -webkit-transition: 0.4s ease all 0s;
            -moz-transition: 0.4s ease all 0s;
            -ms-transition: 0.4s ease all 0s;
            -o-transition: 0.4s ease all 0s; }
        .rps_select_player .players-to-select .players .player:hover {
          border-color: #1e5677; }
          .rps_select_player .players-to-select .players .player:hover .player-name {
            color: #1e5677; }
          .rps_select_player .players-to-select .players .player:hover .player-icon {
            background-size: 85%;
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
          .rps_select_player .players-to-select .players .player:hover .player-description {
            opacity: 1; }
            .rps_select_player .players-to-select .players .player:hover .player-description:before {
              width: 100%; }
        .rps_select_player .players-to-select .players .player.selected {
          border-color: #1e5677; }
          .rps_select_player .players-to-select .players .player.selected .player-name {
            color: #1e5677; }
  .rps_select_player .remote-play {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    width: 100%;
    height: 100%;
    background-color: #d8d8d8; }
    .rps_select_player .remote-play h1 {
      font-size: 36px;
      width: 100%;
      text-align: center; }
      .rps_select_player .remote-play h1 i {
        font-size: 36px; }
  .rps_select_player .local-play {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    width: 100%;
    height: 100%;
    background-color: #d8d8d8; }

/*
*
* * * GAME CONTAINER * * * 
*
*/
.rps_game_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #d8d8d8; }
  .rps_game_container .player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 30px 30px; }
    .rps_game_container .player.player1 {
      transform: translateX(-50vw);
      border-right: 1px solid #aaa; }
    .rps_game_container .player.player2 {
      transform: translateX(50vw); }
    .rps_game_container .player .player-details {
      width: 100%;
      text-align: center;
      font-size: 36px; }
      .rps_game_container .player .player-details span {
        font-size: 28px; }
    .rps_game_container .player .status-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      background: rgba(30, 86, 119, 0.7); }
      .rps_game_container .player .status-container h1 {
        font-size: 48px;
        font-weight: bold;
        text-align: center; }
    .rps_game_container .player .item .item-icon {
      display: block;
      width: 180px;
      height: 180px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
      .rps_game_container .player .item .item-icon.rock {
        background-image: url("../images/rock_icon.png"); }
      .rps_game_container .player .item .item-icon.paper {
        background-image: url("../images/paper_icon.png"); }
      .rps_game_container .player .item .item-icon.scissors {
        background-image: url("../images/scissors_icon.png"); }
      .rps_game_container .player .item .item-icon.waiting {
        background-image: url("../images/quest_icon.png"); }
    .rps_game_container .player .item .item-name {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 30px; }

/*
*
* * * SELECT GAME RESULT * * * 
*
*/
.rps_game_result {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateY(100vh);
  width: 100%;
  height: 100%;
  background-color: #d8d8d8; }
  .rps_game_result .results-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .rps_game_result .results-container .results {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap; }
      .rps_game_result .results-container .results .result-element {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; }
        .rps_game_result .results-container .results .result-element .you-message {
          width: 100%;
          font-size: 48px;
          text-align: center; }
        .rps_game_result .results-container .results .result-element .message {
          font-size: 72px;
          font-weight: bold; }
          .rps_game_result .results-container .results .result-element .message.won {
            color: #00a00e; }
          .rps_game_result .results-container .results .result-element .message.lost {
            color: #ff0033; }
          .rps_game_result .results-container .results .result-element .message.draw {
            color: #d0c100; }
        .rps_game_result .results-container .results .result-element .player-details {
          width: 100%;
          text-align: center;
          font-size: 36px; }
          .rps_game_result .results-container .results .result-element .player-details span {
            font-size: 28px; }
        .rps_game_result .results-container .results .result-element .item .item-icon {
          display: block;
          width: 80px;
          height: 80px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 30px; }
          .rps_game_result .results-container .results .result-element .item .item-icon.rock {
            background-image: url("../images/rock_icon.png"); }
          .rps_game_result .results-container .results .result-element .item .item-icon.paper {
            background-image: url("../images/paper_icon.png"); }
          .rps_game_result .results-container .results .result-element .item .item-icon.scissors {
            background-image: url("../images/scissors_icon.png"); }
          .rps_game_result .results-container .results .result-element .item .item-icon.waiting {
            background-image: url("../images/quest_icon.png"); }
        .rps_game_result .results-container .results .result-element .item .item-name {
          display: block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          margin-top: 30px; }
    .rps_game_result .results-container .navigation {
      width: 100%;
      text-align: center; }
  .rps_game_result .play-again {
    transform: translateY(100vh);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #d8d8d8; }
    .rps_game_result .play-again h1 {
      width: 100%;
      text-align: center; }
    .rps_game_result .play-again .items {
      display: flex;
      width: 90vw; }
      .rps_game_result .play-again .items .item {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border: 1px solid #aaa;
        margin-left: 4vw;
        position: relative;
        transition: 0.4s ease all 0s;
        -webkit-transition: 0.4s ease all 0s;
        -moz-transition: 0.4s ease all 0s;
        -ms-transition: 0.4s ease all 0s;
        -o-transition: 0.4s ease all 0s; }
        .rps_game_result .play-again .items .item .item-name {
          display: block;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300;
          padding: 30px 30px;
          position: relative; }
        .rps_game_result .play-again .items .item .item-icon {
          display: block;
          width: 180px;
          height: 180px;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center center;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_game_result .play-again .items .item .item-icon.rock {
            background-image: url("../images/rock_icon.png"); }
          .rps_game_result .play-again .items .item .item-icon.paper {
            background-image: url("../images/paper_icon.png"); }
          .rps_game_result .play-again .items .item .item-icon.scissors {
            background-image: url("../images/scissors_icon.png"); }
        .rps_game_result .play-again .items .item .item-description {
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          padding: 14px 0;
          color: #fff;
          transform: translateY(-49px);
          opacity: 0;
          transition: 0.4s ease all 0s;
          -webkit-transition: 0.4s ease all 0s;
          -moz-transition: 0.4s ease all 0s;
          -ms-transition: 0.4s ease all 0s;
          -o-transition: 0.4s ease all 0s; }
          .rps_game_result .play-again .items .item .item-description:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 0%;
            background: #1e5677;
            z-index: -1;
            transition: 0.4s ease all 0s;
            -webkit-transition: 0.4s ease all 0s;
            -moz-transition: 0.4s ease all 0s;
            -ms-transition: 0.4s ease all 0s;
            -o-transition: 0.4s ease all 0s; }
          .rps_game_result .play-again .items .item .item-description .loses {
            width: 50%;
            float: right;
            text-align: center; }
            .rps_game_result .play-again .items .item .item-description .loses i {
              color: #ff0033; }
          .rps_game_result .play-again .items .item .item-description .wins {
            width: 50%;
            float: left;
            text-align: center; }
            .rps_game_result .play-again .items .item .item-description .wins i {
              color: #03bb03; }
        .rps_game_result .play-again .items .item:hover {
          border-color: #1e5677; }
          .rps_game_result .play-again .items .item:hover .item-name {
            color: #1e5677; }
          .rps_game_result .play-again .items .item:hover .item-icon {
            background-size: 85%;
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
          .rps_game_result .play-again .items .item:hover .item-description {
            opacity: 1; }
            .rps_game_result .play-again .items .item:hover .item-description:before {
              width: 100%; }

/*
*
* * * SELECT GAME HISTORY * * * 
*
*/
.rps_games_history {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh);
  width: 100%;
  height: 100%;
  background-color: #d8d8d8; }
  .rps_games_history .games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .rps_games_history .games h1 {
      width: 100%;
      text-align: center; }
    .rps_games_history .games p {
      width: 100%;
      text-align: center;
      margin: 30px 0; }
    .rps_games_history .games .table tr:nth-child(odd) td {
      background: #fff; }
    .rps_games_history .games .table span {
      font-weight: bold; }
      .rps_games_history .games .table span.won {
        color: #00a00e; }
      .rps_games_history .games .table span.lost {
        color: #ff0033; }
      .rps_games_history .games .table span.draw {
        color: #d0c100; }

/*# sourceMappingURL=default.css.map */
